<!doctype html>

<html>

<head>
  <title>Gear List</title>
  <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script> -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous"> -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>

<!-- nav bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gear List</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="navbar-button-all-home" class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li id="navbar-button-loggedIn-createPost" style="display: none"><a href="#">Create Post</a></li>
<!--
        <li class="dropdown" id="navbar-button-loggedIn-unkownDropDown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
-->
      </ul>
      <ul class="nav navbar-nav navbar-right right-nav-links">
        <li id="navbar-button-loggedOut-loggedin" data-toggle="modal" data-target="#loginModal"><a href="#">Login</a></li>
        <li id="navbar-button-loggedOut-register" data-toggle="modal" data-target="#registerModal"><a href="#">Register</a></li>
        <li id="navbar-button-loggedIn-logout" ><a href="#">Logout</a></li>
        <li id="navbar-button-loggedIn-accountDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-li"><a href="#">Update Account Info</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-li"><a href="#">View Lists</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-li"><a href="#">View Profile</a></li>
          </ul>
        </li>
      <form id="search-form" class="navbar-form navbar-right" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Modal for login -->
<!-- For examples, see https://v4-alpha.getbootstrap.com/components/modal/#live-demo and see https://www.w3schools.com/bootstrap/bootstrap_modal.asp -->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="loginModal-dialog" role="document">
        <div class="loginModal-content" role="">
            <div class="loginModal-header">
                <h4 class="loginModal-title">Login</h4>
            </div>
            <div class="loginModal-body">
                <div class="loginModal-inputs">
                        <input id="loginModal-input-username" placeholder="Username" type="text" name="username" aria-describedby="basic-addon1" class="form-control input-lg">
                        <input id="loginModal-input-password" placeholder="Password" type="password" name="password" aria-describedby="basic-addon1" class="form-control input-lg">
                </div>
                <div class="loginModal-buttons">
                    <button id="loginModal-button-login" type="submit" class="btn btn-primary">Submit</button>
                    <button id="loginModal-button-close" type="close" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <div class="loginModal-footer">
                <h1 id="loginModal-message-error" style="display: none; color: red;">Error: invalid username or password.</h1>
                <h1 id="loginModal-message-success" style="display: none; color: blue;">Welcome!</h1>
                <h1 id="loginModal-message-forgotUsernameOrPassword"><a href="#">Forgot your username or password?</a></h1>
            </div>
        </div>
    </div>
</div>

<!-- Modal for register -->
<div id="registerModal" class="modal fade" role="dialog">
    <div class="registerModal-dialog" role="document">
        <div class="registerModal-content" role="">
            <div class="registerModal-header">
                <h4 class="registerModal-title">Register</h4>
            </div>
            <div class="registerModal-body" id="registerModal-body">
                <div class="registerModal-inputs">
                        <input id="registerModal-input-username" placeholder="Username" type="text" name="username" aria-describedby="basic-addon1" class="form-control input-lg">
                        <input id="registerModal-input-email" placeholder="youremail@host.com" type="text" name="email" aria-describedby="basic-addon1" class="form-control input-lg">
                        <input id="registerModal-input-password" placeholder="Password" type="password" name="password" aria-describedby="basic-addon1" class="form-control input-lg">
                        <input id="registerModal-input-firstName" placeholder="First Name" type="text" name="firstName" aria-describedby="basic-addon1" class="form-control input-lg">
                        <input id="registerModal-input-lastName" placeholder="Last Name" type="text" name="lastName" aria-describedby="basic-addon1" class="form-control input-lg">
                </div>
                <div class="registerModal-buttons">
                    <button id="registerModal-button-register" type="submit" class="btn btn-primary">Submit</button>
                    <button id="registerModal-button-close" type="close" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <div class="registerModal-footer">
                <h1 id="registerModal-errorMessage-prexistingUsername" style="display: none">Error: that username already exists. <a href="#">Forgot your username or password?</a></h1>
                <h1 id="registerModal-errorMessage-prexistingEmail" style="display: none">Error: that email address is already registered with a username. <a href="#">Forgot your username or password?</a></h1>
                <h1 id="registerModal-message-invalidEmail" style="display: none">Error: invalid email address.</h1>
                <h1 id="registerModal-message-invalidPassword" style="display: none">Error: invalid password.</h1>
                <h1 id="registerModal-message-invalidUsername" style="display: none">Error: invalid username.</h1>
                <h1 id="registerModal-message-invalidFirstName" style="display: none">Error: invalid first name.</h1>
                <h1 id="registerModal-message-invalidLastName" style="display: none">Error: invalid last name.</h1>
                <h1 id="registerModal-message-newUserCreated" style="display: none">Congratulatons! Check your email to confirm your new account.</h1>
            </div>
        </div>
    </div>
</div>
    
<div id="body-container">

</div>

<!--Source convience scripts-->
<script src="/js/conviences/addEventListenersByName.js"></script>
<script src="/js/conviences/hideMatchingElements.js"></script>
<script src="/js/conviences/displayMatchingElements.js"></script>
<script src="/js/conviences/setMatchingElementsInactive.js"></script>
    
<!--Source navbar scripts-->
<script src="/js/navbar/accountDropdown.js"></script>
<script src="/js/navbar/home.js"></script>
<script src="/js/navbar/logout.js"></script>
<script src="/js/posts/posts.js"></script>
<script src="/js/navbar/login.js"></script>
<!-- <script src="/js/navbar/createPostForm.js"></script> -->
<script src="/js/navbar/register.js"></script>
<script src="/js/navbar/submitPost.js"></script>
<script src="/js/navbar/navbar_main.js"></script>
    
</body>

</html>